<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">


    <context:component-scan base-package="ru.stepanov.test_using_xml_and_annotations"/>
    <context:property-placeholder location="musicPlayer.properties"/>


    <!--Старый способ ручного создания бинов.

 <context:property-placeholder location="musicPlayer.properties"/>-->

<!--    <bean id="musicBean"-->
<!--          class="ru.stepanov.test_using_xml_and_annotations.genres.HipHop"-->
<!--          init-method="doInit"-->
<!--          destroy-method="doDestroy"-->
<!--          factory-method="getHipHopMusic">-->
<!--    </bean>-->

<!--&lt;!&ndash;    <bean id="musicBean2"&ndash;&gt;-->
<!--&lt;!&ndash;          class="ru.stepanov.test_using_xml_and_annotations.genres.RockMusic">&ndash;&gt;-->
<!--&lt;!&ndash;    </bean>&ndash;&gt;-->

<!--&lt;!&ndash;    <bean id="musicBean3"&ndash;&gt;-->
<!--&lt;!&ndash;          class="ru.stepanov.test_using_xml_and_annotations.genres.ClassicalMusic">&ndash;&gt;-->
<!--&lt;!&ndash;    </bean>&ndash;&gt;-->

<!--    <bean id="musicPlayer"-->
<!--          class="ru.stepanov.test_using_xml_and_annotations.MusicPlayer"-->
<!--          scope="prototype">-->
<!--        <property name="music" ref="musicBean"/>-->
<!--        <property name="model" value="${musicPlayer.name}"/>-->
<!--        <property name="volume" value="${musicPlayer.volume}"/>-->
<!--    </bean>-->
</beans>